

#keywordList {
    font-weight: bold;
    font-size: large;
}

#eventList {
    font-weight: bold;
    font-size: large;
}

.eventBox {
    padding-top: 0.5em;
    margin-right: 1em;
    padding-bottom: 0.5em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

.eventBox:not(:last-child) {
    border-bottom: 0.06em solid #808080  
}

.eventName {
    font-weight: bold;
}
