

#keywordList {
    font-weight: bold;
    font-size: large;
}

#eventList {
    font-weight: bold;
    font-size: large;
}

.eventBox {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-bottom: 0.5em;
}

.eventName {
    font-weight: bold;
}
